/*Home Page Styles*********************************/
header.home{
    text-align: center;
    padding-top: 7vw;
    padding-bottom: 7vw;
    background-image: url(Assets/Images/HomePortfolioPage/HeroBackground.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
header h1{
    padding-top: clamp(50px, 5vh, 100px);
    font-family: spartan, sans-serif;
    font-size: clamp(18px, 3vw, 50px);
    font-weight: 700;
    text-transform: capitalize;
    color:white;
    margin-block-start: 1vw;
    margin-block-end: 1vw;
    padding-right: 10vw;
    padding-left: 10vw;
}
header h2{
    font-family: spartan, sans-serif;
    font-size: clamp(23px, 3vw,  55px);
    font-weight: 800;
    text-transform: capitalize;
    color:white;
}
header img.downarrow{
    padding-bottom: clamp(5px, 4vh, 50px);
    width: clamp(50px, 3vw, 75px);
    height: auto;
    animation-name: arrowanimation;
    animation-duration: 3.5s;
    animation-iteration-count: infinite;
}
main.home{
    margin-top: clamp(50px, 5vh, 100px);
}
nav, header, main{
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
}
@keyframes arrowanimation{
    0% {transform: translateY(0px);}
    50% {transform: translateY(15px);}
    100% {transform: translateY(0px);}
}
div.portfolio{
    display: flex;
    padding-left: 1vw;
    padding-right: 1vw;
    flex-wrap: wrap;
    justify-content: center;
}
div.portfolio img{
    width: 40vw;
    height: auto;
    border: none;
}
@media (max-width: 800px) {
    header.home{
        background-size: cover;
    }
    h1{
        padding-left: 1vw;
        padding-right: 1vw;
    }
    div.portfolio img{
    width: 60vw;
    height: auto;
    border: none;
}
}

/*About Page Styles*********************************/

/** Some of the background images have been deliberately removed as I am no longer confident in their place in the design **/
img.headshot {
    width: 75vw;
    height: auto;
    border-radius: 30px;
    margin-top: 15px;
    float: right;
}
section.toolkit img {
    width: 55px;
    height: auto;
    margin-right: 16px;
    margin-top: 10px;
}

/*Contact Page Styles******************* */
article.contact,
aside.message-field {
    flex: 1;
    margin-right: 15px;
}
aside.message-field{
    padding-top: 4vw;
}
label{
    font-family: spartan, sans-serif;
    font-size: 20px;
    font-weight: 700;
    color:#80BEA7;
}
input[type=text]{
    width: 100%;
    padding: 12px;
    border: 1.25px solid #80BEA7;
    background-color:#f7fafa;
    border-radius: 12px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    font-family: urbanist, sans-serif;
    font-size: 16px;
    font-weight: 300;
    color:#00223e;
    outline:none;
}
input[type=text]:focus{
    border: 1.25px solid #EDA1CA;
    background-color:#faf7f8;
}
textarea{
    width: 100%;
    padding: 12px;
    border: 1.25px solid #80BEA7;
    background-color:#f7fafa;
    border-radius: 12px;
    box-sizing: border-box;
    min-height: 70px;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    font-family: urbanist, sans-serif;
    font-size: 16px;
    font-weight: 300;
    color:#00223e;
    line-height: 1.4;
    outline: none;
}
textarea:focus{
border: 1.25px solid #EDA1CA;
    background-color:#faf7f8;
}
input[type=submit]{
    float:right;
}

/*Eclectic Stitch Page Styles*/
article.about-project{
    display: flex;
    gap: 100px;
    justify-content: center;
    align-items: flex-start;
    margin-left: 50px;
    margin-right: 55px
}
article.about-project img,
section.description {
    flex: 1;
}
article.about-project img{
    width: 5vw;
    height: auto;
    border-radius: 20px;
    margin-bottom: 15px;
}
header div.project-hero-es img{
    width: 70vw;
    height: auto;
    display: block;
    border-radius: 20px;
    margin: 0 auto;
}
/*Forma DJR Typebook Page Styles*/
header div.carousel{
    width: 100%;
    display: block;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}
/*Galactic Fission Page Styles*/
.video-hero-gf {
    position: relative;
    margin: 0 auto;
    margin-left: 20vw;
    margin-right: auto;
    width: 80%;
    height: 0;
    padding-bottom: 56.25%; /* For a 16:9 aspect ratio (height / width * 100) */
    overflow: hidden;
}

/*The Lagoon Page Styles*/
header div.project-hero-tl img{
    width: 70vw;
    height: auto;
    display: block;
    border-radius: 20px;
    margin: 0 auto;
    margin-bottom: 40px;
}
/*Build carousel with close up on inside spreads of menu*/
/* Universal Styles *********************************/
p.bodytxt {
    font-family: Urbanist,sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.6;
    color: #00223e;
    padding-left: 5px;
    margin-bottom: 5px;
    margin-block-start: 10px;
}
/*Urbanist Font Weights: 
100 - Thin
200 - Extra Light
300 - Light
400 - Regular
500 - Medium
600 - Semi Bold
700 - Bold
800 - Extra Bold
900 - Black*/

h1.standard{
    font-family: 'spartan', sans-serif;
    font-weight: 700;
    font-size: 50px;
    color: #20615F;
    margin-block-start: 25px;
    margin-block-end: 5px;
    padding-left: 5px;
}
h2.standard{
    font-family: 'spartan', sans-serif;
    font-weight: 700;
    font-size: 32px;
    color: #20615F;
    margin-block-start: 30px;
    margin-block-end: 5px;
    padding-left: 5px;
}
.pinkbutton{
    background-color: #EDA1CA;
    color: white;
    padding: 18px 40px;
    box-sizing: border-box;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    font-family: spartan, sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    vertical-align: baseline;
    text-decoration: none;
    line-height: 4;
}
main.ab-ct{
    display: flex;
    gap: 10vw;
    justify-content: space-around;
    align-items: flex-start;
    margin-left: 5vw;
    padding-right: 5.5px;
    margin-right: 5.5vw;
}
@media (max-width: 900px) {
    main.ab-ct{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    article.about{
        min-width: 4vw;
    }
    article.contact{
        min-width: 80vw;
    }
}
body{
    margin: 0px;
    border: 0px;
}
article.carousel img{
    width: 700px;
    height: auto;
    border-radius: 20px;
    margin-bottom: 15px;
    align-items: center;
    display:block;
    margin: 0 auto;

}

@font-face {
    font-family: "spartan";
    src: url(Assets/Fonts/Spartan/Spartan.ttf);
}
/*League Spartan Font Weights: 
100 - Thin
200 - Extra Light
300 - Light
400 - Regular
500 - Medium
600 - Semi Bold
700 - Bold
800 - Extra Bold
900 - Black*/

/*Heading & Navigation Bar Style*********************************/
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    vertical-align:top;
    margin-bottom: 10px;
}
nav img {
    display: inline;
    width: 6vw; 
    height: auto; 
    padding-left: 35px;
    padding-top: 15px;
}
nav li {
    display: inline;
    padding-right: 5vw;
    float: right;
    font-family: spartan, sans-serif;
    font-size: clamp(20px, 2vw, 40px);
    font-weight: 700;
}
nav li a:link{
    color: #20615F;
    text-decoration: none;
}
nav li a:visited{
    color: #20615F;
    text-decoration: none;
}
nav li a:hover{
    color: #80BEA7;
    text-decoration: none;
} 
nav li a:active{
    color: #EDA1CA;
    text-decoration: none;
}
@media (max-width: 800px) {
    nav{
        display: block;
        align-items: center;
        justify-content: center;
        img{
            width: 12vw;
            height: auto;
            margin: 0 auto;
            display: block;
        }
        li{
            display: inline;
            float: none;
        }
        ul{
            text-align: center;
        }
    }
}
/* Footer Styles *********************************/
footer {
    padding-top: 3vw;
    align-items: center;
    text-align: center;
}
footer p{
    font-family: urbanist, sans-serif;
    font-size: 14px;
    font-weight: 200;
    font-style: italic;
    color: #f4c2dd;
}
footer a{
    font-family: urbanist, sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #80BEA7;
    text-decoration: none;
}
footer a:visited{
    color: #80BEA7;
    text-decoration: none;
}   
footer a:hover{
    font-weight: 800;
    color: #20615F;
    text-decoration: none;
}
footer a:active{
    font-weight: 400;
    color: #EDA1CA;
    text-decoration: none;
}
p.copyright {
    font-family: urbanist, sans-serif;
    font-size: 16px;
    font-weight: 400;
    color:#EDA1CA;
}
/* Solid border at the top of footer */
hr.solid {
    border: transparent;
    border-top: 2px solid #EDA1CA;
    margin-top: 10px;
    margin-bottom: 0;
}
/* Gradient bar at the bottom of footer */
hr.bottomline {
    height: 15px;
    width: 100%;
    background: linear-gradient(90deg,#80BEA7 0%, #EDA1CA 77%);
    vertical-align: bottom;
    border: none;
    margin-top: 5px;
    margin-bottom: 0;
}